{
    "presets": [
        ["@babel/preset-env",{
            "targets": {
                "node": "current"
            },
            "modules": false
        }]

    ],
    "plugins": [
        ["babel-plugin-module-resolver",
            {
                "root": ["."],
                "extensions": [".js"],
                // some alias
                "alias":
                {
                    "@middlewares": "./api/middlewares",
                    "@modules": "./api/modules",
                    "@routes": "./api/routes"
                }
            }
        ],
        [
            "@babel/plugin-transform-modules-commonjs",
            {
                "allowTopLevelThis": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}